fastapi
uvicorn
jinja2
python-multipart

numpy
pandas
plotly
requests
openpyxl

langchain-core
langchain-openai
langgraph
openai

pydantic
pydantic-settings
python-dotenv
pyyaml

pymongo
motor
azure-storage-blob